<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.elon.honors.price.maker"
      android:versionCode="1"
      android:versionName="1.0.1"  
	  android:installLocation="auto">


	<uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name=".MainMenu"
                  android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity android:name=".MapEditor_Old"
                  android:label="@string/app_name" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".MapEditor"
                  android:label="@string/app_name" android:screenOrientation="landscape">
        </activity>

    	<activity android:name=".MapTextureSelector" android:screenOrientation="landscape"></activity>
    	<activity android:name=".MapEditorActorSelector" android:screenOrientation="landscape"></activity>
    	<activity android:name=".MapEditorObjectSelector" android:screenOrientation="landscape"></activity>
    	<activity android:name=".Database" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditActor" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditObjectClass" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorMapBase" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorMapActorInstance" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorMapObjectInstance" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorMapRegion" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorMapPoint" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorActivitySwitch" android:screenOrientation="landscape"></activity>
    	<activity android:name=".SelectorActivityVariable" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditEvent" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditTriggerSwitch" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditTriggerVariable" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditTriggerActor" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditTriggerRegion" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditTriggerUI" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditUI" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseNewAction" android:screenOrientation="landscape"></activity>
    	<activity android:name=".DatabaseEditAction" android:screenOrientation="landscape"></activity>
    	
    	<activity android:name="com.twp.platform.Platformer"
                  android:label="@string/app_name" android:screenOrientation="landscape">
        </activity>
    	
    	<provider android:name="ResourceProvider"  
    			android:authorities="edu.elon.honors.price.maker" />
</application>
</manifest>