<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.elon.honors.price.maker"
      android:versionCode="1"
      android:versionName="1.0.1"  
	  android:installLocation="auto">


	<uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name="GameMaker"
                  android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity android:name="PlatformMaker"
                  android:label="@string/app_name" android:screenOrientation="landscape">
        </activity>

    	<activity android:name="PlatformTextureSelector" android:screenOrientation="landscape"></activity>
    	<activity android:name="PlatformActorSelector" android:screenOrientation="landscape"></activity>
    	<activity android:name="PlatformDatabase" android:screenOrientation="landscape"></activity>
    	
    	<activity android:name="com.twp.platform.Platformer"
                  android:label="@string/app_name" android:screenOrientation="landscape">
        </activity>
    	
    	<provider android:name="ResourceProvider"  
    			android:authorities="edu.elon.honors.price.maker" />
</application>
</manifest>